02_Deep_Learning/01_Transformer/data/
02_Deep_Learning/01_Transformer/transformer_pytorch/data/
02_Deep_Learning/02_BERT/data/
__pycache__/
02_Deep_Learning/00_Practical_Deep_Learning_for_Coders/data/
02_Deep_Learning/03_CNN/data/
